.list {
    width: 100%;

    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    gap: 12px;
}

.card {
    width: 100%;
    padding: 16px;

    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;

    background: var(--gray-500);
    border: 1px solid var(--gray-400);
    border-radius: 8px;
}

.cardDescription {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px;

    color: var(--gray-100);
}

.cardDescription label {
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 0.875rem;
}

.taskDone {
    text-decoration: line-through;
    color: var(--gray-300);
}

.deleteTask {
    width: 1.5rem;
    height: 1.5rem;

    display: flex;
    justify-content: center;
    align-items: center;

    color: var(--gray-300);
    border-radius: 4px;
    transition: all 0.1s ease;
}

.deleteTask:hover {
    background: var(--gray-400);
    color: var(--danger);
    cursor: pointer;
}
